.photo img {
    width: 65px;
    height: 65px;
    padding-left: 8px;
}
.photo img:hover {
    cursor: pointer;
}
/*nickel photo*/
.nickelButton img {
    width: 65px;
    height: 65px;
}
.nickelButton img:hover {
    cursor: pointer;
}
/*dime photo */
.dimeButton img {
    width: 65px;
    height: 65px;
}
.dimeButton img:hover {
    cursor: pointer;
}
/*quater photo */
.quaterButton img {
    width: 65px;
    height: 65px;
}
.quaterButton img:hover {
    cursor: pointer;
}
/*half dollar photo */
.HDButton img {
    width: 65px;
    height: 65px;
}
.HDButton img:hover {
    cursor: pointer;
}
/*dollar photo */
.DollarButton img {
    width: 90px;
    height: 80px;
}
.DollarButton img:hover {
    cursor: pointer;
}
/*animation for clicking bounce */
.photo .zoom {
    transform: scale(1.1);
}



