html, body {
    --dot-bg: black;
    --dot-color: white;
    --dot-size: 1px;
    --dot-space: 22px;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: 	#333333;
    font-family: "Roboto";
    background-color: rgb(112, 128, 144, 0.4);
    font-size: 24px;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
    
}
#news {
    position: absolute;
    opacity: 0;
    transform: translateY(100%);
    animation: slideInOut 3s;
}
@keyframes slideInOut {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    20% {
        opacity: 1;
        transform: translateY(0);
    }
    80% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}
nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center; 
    justify-content: center;
    background-color: rgb(90, 90, 90);
    color: snow;
    margin-left: 1%;
    margin-top: 1%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 58px;
    letter-spacing: 3px;
    overflow: hidden;
}
nav h1 {
    text-align: left;
    margin-left: 22.5%;
    margin-right: auto;
}
nav h4 {
   margin: 0 15px;
   transition: all 0.3s ease-in-out;
}
#bar-for-mobile {
    display: none;
}
nav h4:hover {
    scale: 0.9;
    cursor: pointer;
    color: rgba(6, 183, 6, 0.8);
    
}
.mobile-nav {
    display: none;
}
#account {
    margin-right: 2%;
}
.idlegame-head {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: 2.4lvh;
    padding-top: 60px;
}
.money-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}
.money {
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: cover;
    animation: fall linear infinite;
}
.money-symbol {
    position: absolute;
    font-size: 20px;
    color: gold;
    animation: fall linear infinite;
}
@keyframes fall {
    from {
        transform: translateY(-10%);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}



/*LEFT SIDE */
.gold-bar {
    position: absolute;
    width: 50px;
    height: 25px;
    background: linear-gradient(45deg, #ffd700, #ffc107, #b8860b);
    border-radius: 4px;
    box-shadow: 4px 4px 10px rgba(255, 215, 0);
    transform: perspective(100px) rotateX(15deg);
    animation: bars linear infinite;
}
@keyframes bars {
    from {
        transform: translateY(-50px) perspective(50px) rotateX(15deg);
        opacity: 0.7;
    }
    to {
        transform: translateY(40vh) perspective(50px) rotateX(15deg);
        opacity: 1;
    }
}
.upgrade-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    font-size: 3.2lvh;
    min-height: 350px;
    overflow: hidden;
    color: cornsilk;
    flex-shrink: 0;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background: url(photos/upgrades2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    
}
.upgrades {
    display: flex;
    flex-direction: column;
    width: 90%;
    
}
#upgradetitle {
    font-size: 1.4rem;
    margin-top: 10px;
    letter-spacing: 8px;
}
#upgrade-unlockbuttn {
    font-size: 1.2em;
    width: 70%;
    border-radius: 24px;
    background: none;
    border: 1px solid #3A3D98;
    box-shadow:2px 2px 2px 2px green;
    
}
#upgrade-unlockbuttn:hover {
    cursor: pointer;
    scale: 1.1;
    background: #F4C542;
    box-shadow:3px 3px 3px 3px green inset;
}
.dime-upgrades, .quater-upgrades, .hd-upgrades, .dollar-upgrades, .fivedollar-upgrades, .tendollar-upgrades, .twentydollar-upgrades, .fiftyDollar-upgrades, .hundreddollar-upgrades {
    display: none;
}
.cent-upgrades, .nickel-upgrades {
    border: 2px solid #50C878;
    align-items: center;
    border-radius: 40px;
    align-content: center;
    height: 50px;
    right: 0;
    display: flex;
    justify-content: center;
}
.dime-upgrades, .quater-upgrades, .hd-upgrades, .dollar-upgrades, .fivedollar-upgrades, .tendollar-upgrades, .twentydollar-upgrades, .fiftyDollar-upgrades, .hundreddollar-upgrades {
    justify-content: center;
    border: 2px solid #50C878;
    align-items: center;
    border-radius: 40px;
    align-content: center;
    height: 50px;
    
    right: 0;
}
#centautocounter button, #nickelautocounter button, #dimeautocounter button, #quaterautocounter button, #hdautocounter button, #dollarautocounter button, #fivedollarautocounter button, #tendollarautocounter button, #twentydollarautocounter button, #fiftydollarautocounter button, #hundreddollarautocounter button{
    height: 40px;
    font-size: 2.5lvh;
    color: snow;
    background-color: transparent;
    border: transparent;
}
#centautocounter button:hover {
    cursor: pointer;

}
.opencurrency {
    display: flex;
    flex-direction: column;
}
.nickelsunlock, .dimesunlock, .quaterunlock, .half-dollarunlock, .dollarunlock, .fivedollarunlock, .tendollarunlock, .twentydollarunlock, .fiftydollarunlock, .hundreddollarunlock  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.opencurrency button {
    border-radius: 14px;
    height: 30px;
}
.opencurrency button:hover {
    cursor: pointer;
    scale: 1.1;
}
/*left side upgrade portion */

.first, .second, .third, .fourth, .fifth, .sixth, .seventh, .eigth, .nigth, .tenth {
    display: none;
    align-content: center;
    justify-content: center;
    gap: 6%;
    margin-top: 2%;
}
.extra-upgrades button {
    border-radius: 20px;
    background: slategray;
    color: gold;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid green;
    box-shadow: 1px 2px 1px 1px black;
}
.extra-upgrades button:hover {
    scale: 1.1;
    cursor: pointer;
    background-color: yellow;
    color: black;
}


/*middle */
.display {
   width: 32%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#mainclicker {
    margin-top: 16%;
    width: 240px;
    height: 240px;
}
#mainclicker img {
    width: 100%;
    height: 100%;
}
.pop-up {
    font-size: 1.4em;
    transform: scale(1.8);
}
.assest {
    display: none;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 1%;
    height: 20vw;
    background-color: slategrey;
    border-radius: 22px;
    width: 85%;
    text-align: center;
    gap: 6px;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.assest p {
    font-size: 1.4rem;
}
.assest button {
    display: flex;
    font-family: "Work Sans";
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 8%;
    margin-right: 0;
    font-size: 18px;
    font-weight: 800;
    width: 80%;
    border-radius: 12px;
    background-color: gold;
}
.assest button:hover {
    font-weight: bold;
    background-color: #ffd700;
    cursor: pointer;
    scale: 1.1;
    box-shadow: 1px 1px 1px 2px black;
}
.personal-vault {
    display: none;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-top: -2%;
    background-color: #333333;
    color: whitesmoke;
    border-radius: 22px;
}
.personal-vault button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 4px;
    text-align: center;
    margin-left: 5%;
    width: 90%;
}
.personal-vault button:hover {
    background-color: gold;
    font-weight: bold;
    scale: 1.1;
    cursor: pointer;
}
.awards {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 10px;
    margin-top: -2%;
    padding: 5px;
    border-radius: 6px;
    text-align: center;
    background: green;
    height: 18vw;
}
.awards p {
    grid-column: 1 / -1;
    margin-bottom: 10px;
}
.awards i {
    
    font-size: 22px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.awards i:hover {
    transform: scale(1.2);
    color: gold;
}
#closeawards {
    grid-column: 1 / -1;
    margin-top: 20px;
    cursor: pointer;
}
/*goods */
.buy-goods {
    width: 100%;
}
.small-goods {
    display: none;
    flex-direction: column;
    overflow-y: auto;
    height: 35vh;
    width: 100%;
    font-size: 1.9lvh;
}
.small-goods h2 {
    text-decoration: underline;
    color: royalblue;
    font-size: 1.4rem;
}
.medium-goods {
    display: none;
}
.first-sg, .second-sg, .third-sg, .fourth-sg, .fifth-sg {
    display: none;
}

/*right side */
.gameContent {
    display: flex;
    flex-direction: column;
    background-color: slategrey;
    align-items: center;
    width: 32%;
    border-top-right-radius: 14px;
    border-top-left-radius: 12px;
    overflow-y: auto;
    height: 94vh;
    
}
.gameContent button {
    width: 200px;
    border-radius: 14px;
    background: gold;
    border: 3px solid green;
    font-size: 0.8em;
}
.gameContent button:hover {
    cursor: pointer;
    scale: 1.1;
}
.pennys, .nickels, .dimes, .quaters, .half-dollar, .dollar, .fivedollar, .tendollar, .twentydollar, .fiftydollar, .hundreddollar {
    margin-top: 10%;
    display: flex;
    align-items: center;
    gap: 6%;
    background-color: blue;
    border-radius: 16px;
    height: 130px;
    color: snow;
    width: 90%;
}
#increaseCents, #increasenickels, #increasedimes, #increasequaters, #increaseHDs, #increasedollars, #increasefivedollars, #increasetendollars, #increasetwentydollars, #increasefiftydollars, #increasehundreddollars {
    align-items: center;
    flex-direction: column;
    margin-top: -18px;
}

/*image for background */
.pennys {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(35, 34, 34);
    font-weight: bold;
    background: url(photos/penny\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.nickels {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(35, 34, 34);
    font-weight: bold;
    background: url(photos/nickel\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.dimes {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(35, 34, 34);
    font-weight: bold;
    background: url(photos/dime\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.quaters {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(35, 34, 34);
    font-weight: bold;
    background: url(photos/quater\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.half-dollar {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(35, 34, 34);
    font-weight: bold;
    background: url(photos/half-dollar\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.dollar {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(35, 34, 34);
    font-weight: bold;
    background: url(photos/onedollar\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.fivedollar {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(35, 34, 34);
    font-weight: bold;
    background: url(photos/fivedollar\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.tendollar {
    background: url(photos/tendollar\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.twentydollar {
    background: url(photos/twentydollar\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.fiftydollar {
    background: url(photos/fiftydollar\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.hundreddollar {
    background: url(photos/hundred\ dollar\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}


.upgrades {
    display: none;
}
#upgradetitle {
    display: block;
}
.dimesunlock, .quaterunlock, .half-dollarunlock, .dollarunlock, .fivedollarunlock, .tendollarunlock, .twentydollarunlock, .fiftydollarunlock, .hundreddollarunlock {
    display: none;
} 
/*upgrades*/
#dimeautocounter, #quaterautocounter, #hdautocounter, #dollarautocounter, #fivedollarautocounter, #tendollarautocounter, #twentydollarautocounter, #fiftydollarautocounter, #hundreddollarautocounter {
    display: none;
}
.double-penny, .double-nickel, .double-dime, .double-quater, .double-hd, .double-dollar, .double-fivedollar, .double-tendollar, .double-twentydollar {
    display: none;
}
#increaseCents {
    display: none;
}
#increasenickels {
    display: none;
}
.increasedimes, .increasequaters, .increaseHDs, .increasedollars, .increasefivedollars, .increasetendollars, .increasetwentydollars, .increasefiftydollars, .increasehundreddollars {
    display: none;
}
.nickels, .dimes, .quaters, .half-dollar, .dollar, .fivedollar, .tendollar, .twentydollar, .fiftydollar, .hundreddollar {
    display: none;
}
@media only screen and (max-width: 700px) {
    html, body {
        width: 100%;
        
    }
    #bar-for-mobile {
        display: flex;
        padding-left: 8px;
        font-size: 40px;
    }
    #bar-for-mobile:hover {
        scale: 1.4;
        cursor: pointer;
        color: #50C878;
    }
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        top: auto;
        bottom: 0;
        margin-top: 0;
        margin-left: 0;
    }
    #top-assests, #top-awards, #top-news, #account {
        display: none;
    }
    nav h1 {
        font-size: 40px;
        margin-left: 14%;
    }
    .mobile-nav {
        position: fixed;
        bottom: -100%; /* Start hidden */
        left: 0;
        right: 0;
        height: 50vh;
        width: 100%;
        background: #4CAF50;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 7%;
        align-items: center;
        padding-top: 12px;
        transition: bottom 0.5s ease;
    }
    .mobile-nav h4 {
        color: white;
        font-size: 1.5rem;
    }
    .mobile-nav h4:hover {
        color: yellow;
        scale: 1.4;
    }
    .mobile-nav.show {
        bottom: 0;
    }
    #mobile-close-nav {
        width: 80%;
        border-radius: 14px;
        font-size: 1rem;
    }
    #mobile-close-nav:hover {
        scale: 1.1;
        cursor: pointer;
        background: gold;
    }
    .display {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-top: 15%;
    }
    #mainclicker {
        margin-top: 33%;
        width: 360px;
        height: 360px;
    }
    .pop-up {
        font-size: 1.8em;
        transform: scale(1.1);
    }
    .displayword {
        width: 620px;
        font-size: 1.5rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
    }
    .displayword h1 {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    /*display or nav area for all the features*/
    .assests {
        display: none;
        
    }
    .idlegame-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 80px;
        padding-top: 2px;
        
    }
    /*working on display none */
    .upgrade-title {
        display: none;
        width: 95%;
        border-radius: 12px;
    }
    .gameContent {
        display: none;
    }
}
