html, body {
    --dot-bg: black;
    --dot-color: white;
    --dot-size: 1px;
    --dot-space: 22px;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: 	#333333;
    font-family: "Roboto";
    background-color: rgb(112, 128, 144, 0.4);
    font-size: 24px;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
/*report problem */
.problem {
    display: none;
    z-index: 9999;
    position:absolute;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #333333;
    color: wheat;
    margin-top: 4.8%;
    margin-left: 15%;
    width: 130lvh;
    height: 80lvh;
}
form {
    display: flex;
    flex-direction: column;
}
.problem-category {
    display: flex;
    flex-direction: column;
}
form button {
    height: 30px;
    margin-top: 3%;
    border-radius: 16px;
}
#disclosure {
    font-size: 12px;
}
#mobile-use-close-form {
    display: none;
}
.settings {
    display: flex;
    transform: translateX(100%);
    transition: transform 0.5s ease;
}
.settings.active {  
    transform: translateX(0);
}
.overlay {
    display: none;
    position: absolute;
    background-color: #333333;
    color: seashell;
    justify-content: center;
    align-items: center;
    width: 36%;
    top: 12%;
    padding: 14px;
    border-radius: 10px;
    left: 3%;
    flex-direction: column;
    z-index: 99999999;
}
.overlay button {
    display: flex;
    margin-top: 2%;
    border-radius: 12px;
    height: 3.1lvh;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8em;
    width: 50%;
}
.overlay button:hover {
    scale: 1.2;
    cursor: pointer;
    background-color: #ffc107;
    font-weight: bold;
}

#news {
    position: absolute;
    opacity: 0;
    transform: translateY(100%);
    animation: slideInOut 3s;
    color:yellow;
}
@keyframes slideInOut {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    20% {
        opacity: 1;
        transform: translateY(0);
    }
    80% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}
nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center; 
    justify-content: center;
    background-color: rgb(90, 90, 90);
    color: snow;
    margin-left: 1%;
    margin-top: 1%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 58px;
    letter-spacing: 3px;
    overflow: hidden;
}
nav h1 {
    text-align: left;
    font-size: 1.6rem;
    margin-left: 12%;
    margin-right: auto;
}
nav h4 {
   margin: 0 15px;
   transition: all 0.3s ease-in-out;
}
#bar-for-mobile {
    display: none;
}
#bar-for-web {
    transform: translateX(10%);
    transition: trasnform 0.5s ease;
    margin-right: -45%;
    font-size: 2rem;
}
#bar-for-web:hover {
    scale: 1.4;
    cursor: pointer;
    color: #50C878;
} 
nav h4:hover {
    scale: 0.9;
    cursor: pointer;
    color: rgba(6, 183, 6, 0.8);
    
}
.mobile-nav {
    display: none;
}
.idlegame-head {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: 2.4lvh;
    padding-top: 60px;
}
.money-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}
.money {
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: cover;
    animation: fall linear infinite;
}
.money-symbol {
    position: absolute;
    font-size: 20px;
    color: gold;
    animation: fall linear infinite;
}
@keyframes fall {
    from {
        transform: translateY(-10%);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}



/*LEFT SIDE */
.gold-bar {
    position: absolute;
    width: 50px;
    height: 25px;
    background: linear-gradient(45deg, #ffd700, #ffc107, #b8860b);
    border-radius: 4px;
    box-shadow: 4px 4px 10px rgba(255, 215, 0);
    transform: perspective(100px) rotateX(15deg);
    animation: bars linear infinite;
}
@keyframes bars {
    from {
        transform: translateY(-50px) perspective(50px) rotateX(15deg);
        opacity: 0.7;
    }
    to {
        transform: translateY(40vh) perspective(50px) rotateX(15deg);
        opacity: 1;
    }
}
.upgrade-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    font-size: 3.2lvh;
    min-height: 350px;
    overflow: hidden;
    color: cornsilk;
    flex-shrink: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: url(photos/upgrades2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    
}
#mobile-upgrades-only {
    display: none;
}
.upgrades {
    display: flex;
    flex-direction: column;
    width: 90%;
    
}
#upgradetitle {
    font-size: 1.4rem;
    margin-top: 10px;
    letter-spacing: 8px;
}
#upgrade-unlockbuttn {
    font-size: 1.2em;
    width: 70%;
    border-radius: 24px;
    background: none;
    border: 1px solid #3A3D98;
    box-shadow:2px 2px 2px 2px green;
    
}
#upgrade-unlockbuttn:hover {
    cursor: pointer;
    scale: 1.1;
    background: #F4C542;
    box-shadow:3px 3px 3px 3px green inset;
}
.dime-upgrades, .quater-upgrades, .hd-upgrades, .dollar-upgrades, .fivedollar-upgrades, .tendollar-upgrades, .twentydollar-upgrades, .fiftyDollar-upgrades, .hundreddollar-upgrades {
    display: none;
}
.cent-upgrades, .nickel-upgrades {
    border: 2px solid #50C878;
    align-items: center;
    border-radius: 40px;
    align-content: center;
    height: 50px;
    right: 0;
    display: flex;
    justify-content: center;
}
.dime-upgrades, .quater-upgrades, .hd-upgrades, .dollar-upgrades, .fivedollar-upgrades, .tendollar-upgrades, .twentydollar-upgrades, .fiftyDollar-upgrades, .hundreddollar-upgrades {
    justify-content: center;
    border: 2px solid #50C878;
    align-items: center;
    border-radius: 40px;
    align-content: center;
    height: 50px;
    
    right: 0;
}
#centautocounter button, #nickelautocounter button, #dimeautocounter button, #quaterautocounter button, #hdautocounter button, #dollarautocounter button, #fivedollarautocounter button, #tendollarautocounter button, #twentydollarautocounter button, #fiftydollarautocounter button, #hundreddollarautocounter button{
    height: 40px;
    font-size: 2.5lvh;
    color: snow;
    background-color: transparent;
    border: transparent;
}
#centautocounter button:hover {
    cursor: pointer;

}
.opencurrency {
    display: flex;
    flex-direction: column;
}
.nickelsunlock, .dimesunlock, .quaterunlock, .half-dollarunlock, .dollarunlock, .fivedollarunlock, .tendollarunlock, .twentydollarunlock, .fiftydollarunlock, .hundreddollarunlock  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.opencurrency button {
    border-radius: 14px;
    height: 30px;
}
.opencurrency button:hover {
    cursor: pointer;
    scale: 1.1;
}
/*left side upgrade portion */

.first, .second, .third, .fourth, .fifth, .sixth, .seventh, .eigth, .nigth, .tenth {
    display: none;
    align-content: center;
    justify-content: center;
    gap: 6%;
    margin-top: 2%;
}
.extra-upgrades button {
    border-radius: 20px;
    background: slategray;
    color: gold;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid green;
    box-shadow: 1px 2px 1px 1px black;
}
.extra-upgrades button:hover {
    scale: 1.1;
    cursor: pointer;
    background-color: yellow;
    color: black;
}


/*middle */
.display {
   width: 32%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#mainclicker {
    margin-top: 16%;
    width: 240px;
    height: 240px;
}
#mainclicker img {
    width: 100%;
    height: 100%;
}
.displayword {
    font-size: 1rem;
}
#per-sec {
    margin-top: -10%;
}
.pop-up {
    font-size: 1.4em;
    transform: scale(1.8);
}
.assest {
    display: none;
    flex-direction: column-reverse;
    justify-content: center;
    height: 22lvw;
    margin-top: -5%;
    background-color: slategrey;
    border-radius: 22px;
    width: 85%;
    text-align: center;
    gap: 6px;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.assest p {
    font-size: 1.4rem;
}
.assest button {
    display: flex;
    font-family: "Work Sans";
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 8%;
    margin-right: 0;
    font-size: 20px;
    font-weight: 800;
    width: 80%;
    border-radius: 12px;
    background-color: gold;
}
.assest button:hover {
    font-weight: bold;
    background-color: #ffd700;
    cursor: pointer;
    scale: 1.1;
    box-shadow: 1px 1px 1px 2px black;
}
.personal-vault {
    display: none;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-top: -2%;
    background-color: #333333;
    color: whitesmoke;
    border-radius: 22px;
}
.personal-vault button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 4px;
    text-align: center;
    margin-left: 5%;
    width: 90%;
}
.personal-vault button:hover {
    background-color: gold;
    font-weight: bold;
    scale: 1.1;
    cursor: pointer;
}
.awards {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 10px;
    margin-top: -2%;
    padding: 5px;
    border-radius: 6px;
    text-align: center;
    background: green;
    height: 18vw;
}
.awards p {
    grid-column: 1 / -1;
    margin-bottom: 10px;
}
.awards i {
    display: none;
    font-size: 22px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.awards i:hover {
    transform: scale(1.2);
    color: gold;
}
#closeawards {
    height: 30px;
    border-radius: 16px;
    grid-column: 1 / -1;
    margin-top: 20px;
    cursor: pointer;
}
/*goods */
.buy-goods {
    width: 100%;
    font-size: 1.4rem;
}
.buy-goods button {
    border-radius: 15px;
    width: 160px;
    height: 30px;
}
.small-goods {
    display: none;
    flex-direction: column;
    overflow-y: auto;
    height: 16vw;
    width: 100%;
    font-size: 1.9lvh;
}
.small-goods h2 {
    text-decoration: underline;
    color: royalblue;
    
}
.medium-goods {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.medium-goods button:hover {
    scale: 1.2;
    cursor: pointer;
}
.first-sg, .second-sg, .third-sg, .fourth-sg, .fifth-sg, .sixth-sg {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}
.first-sg button:hover, .second-sg button:hover, .third-sg button:hover, .fourth-sg button:hover, .fifth-sg button:hover, .sixth-sg button:hover {
    scale: 1.2;
    cursor: pointer;
}
.first-mg, .second-mg, .third-mg, .fourth-mg, .fifth-mg, .sixth-mg {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
#close-goods {
    margin-left: 10%;
    border:  3px solid black;
    width: 80%;
    text-align: center;
    background-color: green;
    font-size: 1rem;
}
#close-goods:hover {
    scale: 1.1;
    cursor: pointer;
}
/*right side */
.gameContent {
    display: flex;
    flex-direction: column;
    background-color: slategrey;
    align-items: center;
    width: 32%;
    border-top-right-radius: 14px;
    border-top-left-radius: 12px;
    overflow-y: auto;
    height: 92.7vh;
    scrollbar-width: none;
    
}
.gameContent button {
    width: 200px;
    border-radius: 14px;
    background: gold;
    border: 3px solid green;
    font-size: 0.8em;
}
.gameContent button:hover {
    cursor: pointer;
    scale: 1.1;
}
.pennys, .nickels, .dimes, .quaters, .half-dollar, .dollar, .fivedollar, .tendollar, .twentydollar, .fiftydollar, .hundreddollar {
    margin-top: 10%;
    display: flex;
    align-items: center;
    gap: 6%;
    background-color: blue;
    border-radius: 16px;
    height: 130px;
    width: 90%;
}
#increaseCents, #increasenickels, #increasedimes, #increasequaters, #increaseHDs, #increasedollars, #increasefivedollars, #increasetendollars, #increasetwentydollars, #increasefiftydollars, #increasehundreddollars {
    align-items: center;
    flex-direction: column;
    margin-top: -18px;
    width: 100%;
    justify-content: center;
    text-align: center;
}
#mobile-use-only {
    display: none;
}

/*image for background */
.pennys {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(35, 34, 34);
    font-weight: bold;
    background: url(photos/penny\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.nickels {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(35, 34, 34);
    font-weight: bold;
    background: url(photos/nickel\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.dimes {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(35, 34, 34);
    font-weight: bold;
    background: url(photos/dime\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.quaters {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(35, 34, 34);
    font-weight: bold;
    background: url(photos/quater\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.half-dollar {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(35, 34, 34);
    font-weight: bold;
    background: url(photos/half-dollar\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.dollar {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(35, 34, 34);
    font-weight: bold;
    background: url(photos/onedollar\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.fivedollar {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(35, 34, 34);
    font-weight: bold;
    background: url(photos/fivedollar\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.tendollar {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(35, 34, 34);
    font-weight: bold;
    background: url(photos/tendollar\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.twentydollar {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(35, 34, 34);
    font-weight: bold;
    background: url(photos/twentydollar\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.fiftydollar {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(35, 34, 34);
    font-weight: bold;
    background: url(photos/fiftydollar\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
.hundreddollar {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(35, 34, 34);
    font-weight: bold;
    background: url(photos/hundred\ dollar\ making.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}


.upgrades {
    display: none;
}
#upgradetitle {
    display: block;
}
.dimesunlock, .quaterunlock, .half-dollarunlock, .dollarunlock, .fivedollarunlock, .tendollarunlock, .twentydollarunlock, .fiftydollarunlock, .hundreddollarunlock {
    display: none;
} 
/*upgrades*/
#dimeautocounter, #quaterautocounter, #hdautocounter, #dollarautocounter, #fivedollarautocounter, #tendollarautocounter, #twentydollarautocounter, #fiftydollarautocounter, #hundreddollarautocounter {
    display: none;
}
.double-penny, .double-nickel, .double-dime, .double-quater, .double-hd, .double-dollar, .double-fivedollar, .double-tendollar, .double-twentydollar {
    display: none;
}
#increaseCents {
    display: none;
}
#increasenickels {
    display: none;
}
.increasedimes, .increasequaters, .increaseHDs, .increasedollars, .increasefivedollars, .increasetendollars, .increasetwentydollars, .increasefiftydollars, .increasehundreddollars {
    display: none;
}
.nickels, .dimes, .quaters, .half-dollar, .dollar, .fivedollar, .tendollar, .twentydollar, .fiftydollar, .hundreddollar {
    display: none;
}
/*phone view*/
@media screen and (max-width: 896px) {
    .overlay {
        display: none
    }
    html, body {
        width: 100%;
        touch-action: manipulation;/*prevent double tap-zoom*/
        scroll-behavior: smooth;
    }
    #bar-for-mobile {
        display: flex;
        
        padding-left: 3%;
        font-size: 11vw;
    }
    #bar-for-mobile:hover {
        scale: 1.4;
        cursor: pointer;
        color: #50C878;
    }
    #bar-for-web {
        display: none;
    }
    #news {
        position: absolute;
        top: 0;
        font-size: 1.2rem;
        color: yellow;
    }
    .settings {
        display: none;
    }
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        top: auto;
        bottom: 0;
        height: 18vw;
        max-height: 105px;
        margin-top: 0;
        margin-left: 0;
        
    }
    .problem {
        display: none;
        font-size: 18px;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-left: 0;
    }
    #problem-category {
        margin-top: 1%;
    }
    #report-form input, select {
        height: 25px;
    }
    #closeform {
        display: none;
    }
    #mobile-use-close-form {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    #top-assests, #top-awards, #top-news, #account {
        display: none;
    }
    nav h1 {
        font-size: 7vw;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-left: 5%;
    }
    .mobile-nav {
        position: fixed;
        bottom: -100%; /* Start hidden */
        
        left: 0;
        right: 0;
        height: 50vh;
        width: 100%;
        background: #4CAF50;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 7%;
        align-items: center;
        padding-top: 12px;
        transition: bottom 0.5s ease;
        overflow-y: scroll;
        scrollbar-width: none;
    }
    .mobile-nav h4 {
        color: white;
        font-size: 1.5rem;
    }
    .mobile-nav h4:hover {
        color: yellow;
        scale: 1.4;
    }
    .mobile-nav p {
        margin-top: -1.2%;
    }
    .mobile-nav.show {
        bottom: 0;
    }
    #mobile-close-nav {
        width: 80%;
        border-radius: 14px;
        font-size: 1rem;
    }
    #mobile-close-nav:hover {
        scale: 1.1;
        cursor: pointer;
        background: gold;
    }
    .display {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    #mainclicker {
        margin-top: 1%;
        margin-right: 12%;
        width: clamp(200px, 80vw, 430px);
        height: clamp(200px, 80vw, 430px);
    }
    .pop-up {
        font-size: 1.8em;
        transform: scale(1.1);
    }
    .displayword {
        width: 620px;
        font-size: clamp(12px, 6.1vw, 36px );
        gap: 1%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
    }
    .displayword h1 {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 12%;
    }
    /*display or nav area for all the features*/
    .assest {
        display: none;
        flex-direction: column-reverse;
        gap: 5%;
        font-size: 50px;
        scrollbar-width: none;
    }
    .idlegame-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2px;
    }
    /*working on display none */
    .upgrade-title {
        display: none;
        z-index: 100;
        overflow: visible;
        width: 95%;
        font-size: 1rem;
        border-radius: 12px;
        overflow-y: scroll;
        
        align-content: center;
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 0%;
        text-align: center;
        color:  green;
        text-shadow: #50C878 1px 1px 1px;
        scrollbar-width: none;
        background: none;
        background-color: darkslategray;
    }
    #upgrade-unlockbuttn {
        background-color: white;
        box-shadow: none;
    }
    #nextButton {
        margin-bottom: 8%;
        font-size: 1.2rem;
        height: 40px;
        border-radius: 22px;
    }
    .gameContent {
        display: none;
        overflow-y: scroll;
        scrollbar-width: none;
    }
    .centButton,.nickelButton, .dimeButton, .quaterButton, .HDButton, .DollarButton, .fiveDollarButton, .tenDollarButton, .twentyDollarButton, .fiftydollarbutton, .hundredDollarButton {
        font-size: 3.2vh;
        text-align: center;
        padding-bottom: 12px;
    }
    .pennys, .nickels, .dimes, .quaters, .half-dollar, .dollar, .fivedollar, .tendollar, .twentydollar, .fiftydollar, .hundreddollar {
        height: 50vw;
    }
    .pennys button, .nickels button, .quaters button, .half-dollar button, .dollar button, .fivedollar button, .tendollar button, .twentydollar button, .fiftydollar button, .hundreddollar button {
        width: 40vw;
    }
    #mobile-use-only {
        display: flex;
        margin-top: 6%;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        border-radius: 26px;
        width: 80%;
        height: 40px;
    }
    #mobile-upgrades-only {
        margin-top: 6%;
        display: flex;
        width: 80%;
        height: 35px;
        border-radius: 24px;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        
    }
    #mobile-upgrades-only:hover {
        scale: 1.1;
        cursor: pointer;
        background-color: gold;
    }
    .personal-vault {
        gap: 3%;
    }
    #withdraw {
        font-size: 1em;
    }
    #deposit {
        font-size: 1em;
    }
    #bankamount {
        font-size: 1em;
    }
    #transfermoney {
        font-size: 1em;
    }
    #closevault {
        font-size: 1em;
    }
    .awards {
        grid-template-columns: repeat(auto-fill, minmax(100px, 3fr));
        gap: 10px;
        margin-top: -2%;
        padding: 5px;
        font-size: 1.4rem;
        font-weight: bold;
    }
    #closeawards {
        height: 50px;
        font-size: 1.4rem;
        border-radius: 22px;
    }
    .buy-goods {
        overflow-y: scroll;
        scrollbar-width: none;
        flex-direction: column;
        background-color: cadetblue;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .buy-goods button {
        width: 80%;
        height: 40px;
        font-size: 1.2rem;
        border-radius: 22px;
    }
    .buy-goods button:hover {
        scale: 1.1;
        cursor: pointer;
        background-color: gold;
    }
    .small-goods {
        height: 65vh;
        flex-direction: column;
        overflow-y: scroll;
        scrollbar-width: none;
        font-size: 1rem;
    }
    .small-goods h2 {
        background: linear-gradient(to right, gold, green, white, lightgreen, gold);
        font-weight: bolder;
        -webkit-background-clip: text;
        color: transparent;
        text-align: center;
        font-size: 1.6rem;
    }
    #close-goods {
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 5%;
        font-size: 1.4rem;
        border-radius: 26px;
        background-color: #50C878;
        font-weight: bold;
        box-shadow: 1px 1px 1px 1px black;
    }
    #close-goods:hover {
        scale: 1.1;
        cursor: pointer;
        background-color: gold;
    }
}
/*tablet view*/
@media screen and (min-width: 896px) and (max-width: 1300px) {
    html, body {
        width: 100%;
        touch-action: manipulation;/*prevent double tap-zoom*/
        scroll-behavior: smooth;
    }
    nav h1 {
        font-size: 1.2rem;
        margin-right: 3%;
        margin-left: auto;
        text-align: right;
    }
    #bar-for-mobile {
        display: none;
    }
    .gameContent {
        overflow-y: auto;
        height: 84vh;
        scrollbar-width: none;
        
    }
    #news {
        position: absolute;
        margin-top: 50%;
        font-size: 1.2rem;
        color: yellow;
    }
    .assest {
        margin-top: 3%;
        position: absolute;
        gap: 3%;
        height: 41vh;
        width: 31%;
    }
    .buy-goods {
        width: 100%;
        margin-top: -77%;
    }
    .displayword {
        width: 620px;
        font-size: 1.4rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
    }
    .pennys, .nickels, .dimes, .quaters, .half-dollar, .dollar, .fivedollar, .tendollar, .twentydollar, .fiftydollar, .hundreddollar {
        font-family: 'garamond', 'helvetica', sans-serif;
        font-size: 24px;
        height: 240px;
    }
    #increaseCents, #increasenickels, #increasedimes, #increasequaters, #increaseHDs, #increasedollars, #increasefivedollars, #increasetendollars, #increasetwentydollars, #increasefiftydollars, #increasehundreddollars {
        display: none;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    #increaseCents button, #increasenickels button, #increasedimes button, #increasequaters button, #increaseHDs button, #increasedollars button, #increasefivedollars button, #increasetendollars button, #increasetwentydollars button, #increasefiftydollars button, #increasehundreddollars button {
        width: 95%;
        
    }
    

}
